<!DOCTYPE html>
<html>

<head>
	<title>Online Supermarket</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //for-mobile-apps -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<!-- //js -->

	<link
		href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
		rel='stylesheet' type='text/css'>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
</head>
	
<body>
<!----top---->
<header class="header">
	<a href="#" class="logo">
		<img src="images/logo.jpg" alt="">

	</a>

	<nav class="navbar">
		<a href="home">Home</a>
		<a href="about">About Us</a>
		<a href="wallet">Your Wallet</a>
		<a href="contactus">Contact Us</a>
	</nav>


	<div class="search">
		<form action="#">
			<input type="text" placeholder=" Search..." name="search">
			<button>
				<i class="fa fa-search" style="font-size: 18px;">
				</i>
			</button>
		</form>
	</div>

	<form action="cart">
		<button class="cart"><i class="fa fa-shopping-cart"></i> Cart</button>
	</form>

	<div class="profile">
		<ul>
			<li class="dropdown profile_details_drop">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
																			  aria-hidden="true"></i><span class="caret"></span></a>
				<div class="mega-dropdown-menu">
					<div class="w3ls_vegetables">
						<ul class="dropdown-menu drp-mnu">
							<li><a href="\">logout</a></li>

						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>

</header>
<!----top---->




<!-- about -->
		<div class="privacy about">
			<h3 style="margin-top: 3em">About Us</h3>
			<div class="aboutcontainer">
				<div class="image">
					<img width="500" height="300" src="images/about.jpg"> <!-- this is how to resize -->
				</div>
				<div class="text">
					<h1>
						 • We are a team of 6 students from the same college who started this endeavour after we noticed something very interesting as a part of our college project back in 2015.
						 •  Inspite of trying so hard, the local vendors could not manage to get hold of good number of customers.
						 • At the same time, the consumers were complaining about the inconveniences of running their everyday errands. We took this opportunity to bridge the gap through Shopper's Daily
						 • We focus on local markets and avoid large retailers, encouraging the 'vocal for local' campaign.
<h1> • Our Achievements:</h1>
	<h1> • We have been the recipients of Today's eCommerce's "Top eCom website awards" for 3 consecutive years
	 • We have been featured in Prime Minister Narendra Modi's tweets several times for our work in 'vocal for local'.
	 • We have succeeded providing jobs to over 5000+ people.</h1>
						</h1>
				</div>
			</div>
<!-- //about -->
		</div>
		<div class="clearfix"></div>
	</div>


<!-- footer section starts  -->

<section class="footer">
	<div class="box-container">
		<div class="box">
			<div class="logo">
				<a href="#" class="logo">
					<img src="images/logo.jpg" alt="">
				</a>

			</div>
			<h4>
				Thanks for visiting! Hope to see you again :)
			</h4>
			<div class="share">
				<a href="#" class="fab fa-facebook-f"></a>
				<a href="#" class="fab fa-twitter"></a>
				<a href="#" class="fab fa-instagram"></a>
				<a href="#" class="fab fa-linkedin"></a>
			</div>
		</div>

		<div class="box">
			<h3>Contact Us</h3>
			<a href="#" class="links">
				<i class="fas fa-phone"></i> +91 333-444-5555
			</a>
			<a href="#" class="links">
				<i class="fas fa-envelope"></i> shoppersdaily@gmail.com
			</a>
			<a href="#" class="links">
				<i class="fas fa-map-marker-alt"></i> Hyderabad, India - 500078
			</a>
			<a href="#" class="links">
				<i class=""></i>
			</a> <!-- just empty line -->

		</div>

		<div class="box">
			<h3>Quick Links</h3>
			<a href="home" class="links">
				<i class="fas fa-arrow-right"></i> Home
			</a>
			<a href="about" class="links">
				<i class="fas fa-arrow-right"></i> About Us
			</a>
			<a href="wallet" class="links">
				<i class="fas fa-arrow-right"></i> Your Wallet
			</a>
			<a href="contactus" class="links">
				<i class="fas fa-arrow-right"></i> Contact Us
			</a>
		</div>
	</div>
</section>

<!-- footer section ends -->

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
</body>
</html>