<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Supermarket</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- //js -->

    <link
            href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
            rel='stylesheet' type='text/css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

</head>

<body>

<!----top---->
<header class="header">
    <a href="#" class="logo">
        <img src="images/logo.jpg" alt="">

    </a>

    <nav class="navbar">
        <a href="home">Home</a>
        <a href="about">About Us</a>
        <a href="wallet">Your Wallet</a>
        <a href="contactus">Contact Us</a>
    </nav>


    <div class="search">
        <form action="#">
            <input type="text" placeholder=" Search..." name="search">
            <button>
                <i class="fa fa-search" style="font-size: 18px;">
                </i>
            </button>
        </form>
    </div>

    <form action="cart">
        <button class="cart"><i class="fa fa-shopping-cart"></i> Cart</button>
    </form>

    <div class="profile">
        <ul>
            <li class="dropdown profile_details_drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
                                                                              aria-hidden="true"></i><span class="caret"></span></a>
                <div class="mega-dropdown-menu">
                    <div class="w3ls_vegetables">
                        <ul class="dropdown-menu drp-mnu">
                            <li><a href="\">logout</a></li>

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</header>
<!----top---->
<div class="container text-center">
    <form name="f" th:action="@{/forgot_password}" method="post">
        <fieldset>

            <div th:if="${error!=null}" class="alert-error">
            </div>
            <div th:if="${message!=null}" class="alert alert-success">
                <p class="text-warning">[[${message}]]</p>
            </div>
            <div>
                <p style="font-size: 1.5em; margin-top: 5em; padding: 1em"> We will be sending a reset password link to your email!</p>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="padding: 1em; font-weight: 600">Enter your registered email address: </label>
                <div class="col-8">
                    <input type="email" name="email" class="form-control" placeholder="Email ID" required />
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary"style="background-color: #7FE067; border-color: #7FE067; border-radius: 0.5 em; margin-top: 1em; font-size: 1.4em">Send link</button>
            </div>

        </fieldset>
    </form>
</div>

<script src="js/login.js"></script>


<!-- footer section starts  -->

<section class="footer">
    <div class="box-container">
        <div class="box">
            <div class="logo">
                <a href="#" class="logo">
                    <img src="images/logo.jpg" alt="">
                </a>

            </div>
            <h4>
                Thanks for visiting! Hope to see you again :)
            </h4>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Contact Us</h3>
            <a href="#" class="links">
                <i class="fas fa-phone"></i> +91 333-444-5555
            </a>
            <a href="#" class="links">
                <i class="fas fa-envelope"></i> shoppersdaily@gmail.com
            </a>
            <a href="#" class="links">
                <i class="fas fa-map-marker-alt"></i> Hyderabad, India - 500078
            </a>
            <a href="#" class="links">
                <i class=""></i>
            </a> <!-- just empty line -->

        </div>

        <div class="box">
            <h3>Quick Links</h3>
            <a href="home" class="links">
                <i class="fas fa-arrow-right"></i> Home
            </a>
            <a href="about" class="links">
                <i class="fas fa-arrow-right"></i> About Us
            </a>
            <a href="wallet" class="links">
                <i class="fas fa-arrow-right"></i> Your Wallet
            </a>
            <a href="contactus" class="links">
                <i class="fas fa-arrow-right"></i> Contact Us
            </a>
        </div>
    </div>
</section>

<!-- footer section ends -->
</body>
</html>


