<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Online Supermarket</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>

  <!-- //for-mobile-apps -->
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- font-awesome icons -->
  <link href="css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <!-- //font-awesome icons -->
  <!-- js -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <!-- //js -->

  <link
          href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <!-- start-smoth-scrolling -->
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
      });
    });
  </script>
  <!-- start-smoth-scrolling -->

</head>

<body>

<!----top---->
<header class="header">
  <a href="#" class="logo">
    <img src="images/logo.jpg" alt="">

  </a>

  <nav class="navbar">
    <a href="home">Home</a>
    <a href="about">About Us</a>
    <a href="wallet">Your Wallet</a>
    <a href="contactus">Contact Us</a>
  </nav>


  <div class="search">
    <form action="#">
      <input type="text" placeholder=" Search..." name="search">
      <button>
        <i class="fa fa-search" style="font-size: 18px;">
        </i>
      </button>
    </form>
  </div>

  <form action="cart">
    <button class="cart"><i class="fa fa-shopping-cart"></i> Cart</button>
  </form>

  <div class="profile">
    <ul>
      <li class="dropdown profile_details_drop">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"
                                                                      aria-hidden="true"></i><span class="caret"></span></a>
        <div class="mega-dropdown-menu">
          <div class="w3ls_vegetables">
            <ul class="dropdown-menu drp-mnu">
              <li><a href="\">logout</a></li>

            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>

</header>
<!----top---->
<body>

<div class="container text-center">
  <form name="f" th:action="@{/reset_password}" method="post">
    <fieldset>
      <input type="hidden" id="token" name="token" th:value="${token}">

      <div>
        <div>
          <p style="font-size: 2em; margin-top: 5em; padding: 1em; font-weight: 600"> Change Password</p>
        </div>
        <p>
          <label class="col-4 col-form-label" style="padding: 1em; font-weight: 600">Enter your new password: </label>
          <input type="password" name="password" id="password" class="form-control"
                 required autofocus placeholder="Enter your new password"/>
        </p>
        <p>
          <label class="col-4 col-form-label" style="padding: 1em; font-weight: 600">Renter your new password: </label>
          <input type="password" name="confirmpassword" class="form-control"
                 required autofocus placeholder="Enter your new password" oninput="checkPasswordMatch(this);"/>
        </p>
      </div>

      <div>
        <button type="submit" class="btn btn-primary" style="background-color: #7FE067; border-color: #7FE067; border-radius: 0.5 em; margin-top: 1em; font-size: 1.4em">Change Password</button>
      </div>
    </fieldset>
  </form>
</div>
<script type="text/javascript">
  function checkPasswordMatch(fieldConfirmPassword){
    if(fieldConfirmPassword.value!=$("#password").val()){
      fieldConfirmPassword.setCustomValidity("Password do not match!");
    }
    else{
      fieldConfirmPassword.setCustomValidity("");
    }
  }
</script>
<!-- footer section starts  -->

<section class="footer">
  <div class="box-container">
    <div class="box">
      <div class="logo">
        <a href="#" class="logo">
          <img src="images/logo.jpg" alt="">
        </a>

      </div>
      <h4>
        Thanks for visiting! Hope to see you again :)
      </h4>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <h3>Contact Us</h3>
      <a href="#" class="links">
        <i class="fas fa-phone"></i> +91 333-444-5555
      </a>
      <a href="#" class="links">
        <i class="fas fa-envelope"></i> shoppersdaily@gmail.com
      </a>
      <a href="#" class="links">
        <i class="fas fa-map-marker-alt"></i> Hyderabad, India - 500078
      </a>
      <a href="#" class="links">
        <i class=""></i>
      </a> <!-- just empty line -->

    </div>

    <div class="box">
      <h3>Quick Links</h3>
      <a href="home" class="links">
        <i class="fas fa-arrow-right"></i> Home
      </a>
      <a href="about" class="links">
        <i class="fas fa-arrow-right"></i> About Us
      </a>
      <a href="wallet" class="links">
        <i class="fas fa-arrow-right"></i> Your Wallet
      </a>
      <a href="contactus" class="links">
        <i class="fas fa-arrow-right"></i> Contact Us
      </a>
    </div>
  </div>
</section>

<!-- footer section ends -->
</body>
</html>